<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPAM CLASSIFIER</title>
</head>
<body>
    <h1>SPAM CLASSIFIER</h1>
    <form method="post">
        <label>Enter Message:</label>
        <textarea name="message" rows="5" cols="50" placeholder="Enter your message here...."></textarea><br>
        <button type="submit">Submit Text</button>
    </form>
    <h3>{{ prediction }}</h3>
</body>
</html>